* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}
header .headright{
    font-size: 15px;
    border-left: 1px solid grey;
    padding-left: 20px;
    
}

header .logo{
    margin: 10px 0 0 45px;
    
}

nav{
    display: flex;
    align-items: center;
    column-gap: 15px;
    
    
    
}
nav ul{
    display: flex;
    align-items: center;
    column-gap: 25px;
}
nav ul li{
    list-style: none;
}
nav .headright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    column-gap: 5px;
}
.container{
    margin: auto;
    width: 80%;
    height: 78vh;
    display: flex;
}

.container .left{
    display: flex;
    width: 50%;
    margin: 40px 40px 40px 40px;
    justify-content: center;
    position: relative;
}
.container .left .wow{
    display: flex;
    font-size: 33px;
    margin-left: 10px;
    margin-top: 55px;
}
.container .left .calltoaction{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    margin-bottom: 15%;
    margin-left: 10px;
}
.container .left .calltoaction .openingtime{
    margin-left: 12px;
}
.container .left .calltoaction .openingtime h2{
    font-size: 15px;

}
 .button{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 53%;
    margin-left: 10px;

 }
.button button{
    color: rgb(255, 255, 255);
    width: 150px;
    height: 40px;
    background-color: orangered;
    border: none;
    border-radius: 04px 04px 04px 04px;
    left: 0;
}

.container .rightimage{
    display: flex;
    width: 50%;
    height: 100%;
    margin: 40px 40px 40px 40px;
    background-image: url(./image/Image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.container .rightimage .service{
    position: absolute;
    left: -20%;
    top: 0;
}

.container .rightimage .rating{
    position: absolute;
    right: -18%;
    bottom: 0;
}